[submodule "cookbook-elasticsearch"]
	path = cookbook-elasticsearch
	url = git@github.com:elasticsearch/cookbook-elasticsearch.git
[submodule "java"]
	path = java
	url = git@github.com:agileorbit-cookbooks/java.git
[submodule "build-essential"]
	path = build-essential
	url = git@github.com:opscode-cookbooks/build-essential.git
[submodule "xml"]
	path = xml
	url = git@github.com:opscode-cookbooks/xml.git
[submodule "monit"]
	path = monit
	url = git@github.com:apsoto/monit.git
[submodule "ark"]
	path = ark
	url = git@github.com:burtlo/ark.git
[submodule "rabbitmq"]
	path = rabbitmq
	url = git@github.com:jjasghar/rabbitmq.git
[submodule "erlang"]
	path = erlang
	url = git@github.com:opscode-cookbooks/erlang.git
[submodule "route53"]
	path = route53
	url = git@github.com:hw-cookbooks/route53.git
