[submodule "cookbook-elasticsearch"]
	path = cookbook-elasticsearch
	url = https://github.com/elasticsearch/cookbook-elasticsearch.git
[submodule "java"]
	path = java
	url = https://github.com/agileorbit-cookbooks/java.git
[submodule "build-essential"]
	path = build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "xml"]
	path = xml
	url = https://github.com/opscode-cookbooks/xml.git
[submodule "monit"]
	path = monit
	url = https://github.com/apsoto/monit.git
[submodule "ark"]
	path = ark
	url = https://github.com/burtlo/ark.git
[submodule "rabbitmq"]
	path = rabbitmq
	url = https://github.com/jjasghar/rabbitmq.git
[submodule "erlang"]
	path = erlang
	url = https://github.com/opscode-cookbooks/erlang.git
[submodule "route53"]
	path = route53
	url = https://github.com/hw-cookbooks/route53.git
