[submodule "elasticsearch"]
	path = elasticsearch
	url = https://github.com/elasticsearch/cookbook-elasticsearch.git
[submodule "java"]
	path = java
	url = https://github.com/agileorbit-cookbooks/java.git
[submodule "build-essential"]
	path = build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "xml"]
	path = xml
	url = https://github.com/opscode-cookbooks/xml.git
[submodule "monit"]
	path = monit
	url = https://github.com/apsoto/monit.git
[submodule "ark"]
	path = ark
	url = https://github.com/burtlo/ark.git
[submodule "rabbitmq"]
	path = rabbitmq
	url = https://github.com/jjasghar/rabbitmq.git
[submodule "erlang"]
	path = erlang
	url = https://github.com/opscode-cookbooks/erlang.git
[submodule "route53"]
	path = route53
	url = https://github.com/hw-cookbooks/route53.git
[submodule "windows"]
	path = windows
	url = https://github.com/opscode-cookbooks/windows.git
[submodule "chef_handler"]
	path = chef_handler
	url = https://github.com/opscode-cookbooks/chef_handler.git
[submodule "7-zip"]
	path = 7-zip
	url = https://github.com/sneal/7-zip.git
[submodule "nodejs"]
	path = nodejs
	url = https://github.com/redguide/nodejs.git
[submodule "apt"]
	path = apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "yum-epel"]
	path = yum-epel
	url = https://github.com/opscode-cookbooks/yum-epel.git
[submodule "yum"]
	path = yum
	url = https://github.com/opscode-cookbooks/yum.git
[submodule "git"]
	path = git
	url = https://github.com/jssjr/git.git
[submodule "dmg"]
	path = dmg
	url = https://github.com/opscode-cookbooks/dmg.git
[submodule "runit"]
	path = runit
	url = https://github.com/hw-cookbooks/runit.git
